
.my-btn{
    background-color: unset!important;
    border-color: #3B4E4F!important;
}
.my-btn:hover{
    color:  #A4D8DB!important;
    border-color: #A4D8DB!important;
}
.modal-content{
    background-color: #A4D8DB!important;
}
.carousel-indicators button{
    background: linear-gradient(#3B4E4F, #A4D8DB);            
   
}
.callback-form-input-error{
    border-color: #da6565!important;
    color:  #da6565!important;
}

/*
.about{
    background-image: url('https://svetlanaugova.github.io/logo/%D0%B3%D0%BB%D0%B012.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
*/